* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: darkgreen;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: yellow;
    padding: 10px 0;
}

.nav-links a {
    margin: 10px;
    text-decoration: none;
    color: darkgreen;
}

.countdown-container {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajuste o tamanho da fonte desejado */
}

.banner {
    text-align: center;
}

.banner-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.content {
    text-align: center;
    padding: 20px;
}

.link {
    text-decoration: none;
    color: darkgreen;
}

.actor {
    text-align: center;
    margin: 20px 0;
}

.actor img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.actor p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: darkgreen;
}

.spinoff-image {
    width: 80px;
    height: auto;
}

.spinoff-card {
    text-align: center;
    margin: 20px;
}

.spinoff-image {
    display: block;
    margin: 0 auto;
}

.countdown-container {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

.countdown-container::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent darkgreen transparent;
}
