/* Reset de estilos para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o corpo da página */
body {
    background-color: black;
    color: darkgreen;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
.header {
    text-align: center;
    padding: 20px 0;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para a barra de navegação */
.nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: yellow;
    padding: 10px 0;
}

.nav-links a {
    margin: 10px;
    text-decoration: none;
    color: darkgreen;
}

/* Estilos para a contagem regressiva */
.countdown-container {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamanho da fonte da contagem regressiva */
}

/* Estilos para o banner */
.banner {
    text-align: center;
}

.banner-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para o conteúdo */
.content {
    text-align: center;
}

.link {
    text-decoration: none;
    color: darkgreen;
}

/* Estilos para atores e spin-offs */
.actor, .spinoff-card {
    text-align: center;
    margin: 20px 0;
}

.actor img, .spinoff-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.actor p, .spinoff-card p {
    text-align: center;
}

/* Estilos para o rodapé */
.footer {
    text-align: center;
    margin: 20px 0;
}

.footer p {
    color: darkgreen;
}

.footer .link {
    text-decoration: none;
    color: darkgreen;
}

.temporadas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.temporada-card {
    text-align: center;
    margin: 20px;
}

.temporada-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
